<div class="col-md-12">
  <h3>New Domain</h3>
  <form role="form" action="submit">
    <div class="form-group">
      <label>Domain</label>
      <input name="domain" value="" type="text" placeholder="www.yourdomainhere.com"/>
    </div>
    <div class="form-group">
      <label>Pornography?</label>
      <input type="checkbox" name="pornography?"/>
    </div>
    <div class="form-group">
      <label>Sexuality?</label>
      <input type="checkbox" name="sexuality?"/>
    </div>
    <div class="form-group">
      <label>Commercial/Spam?</label>
      <input type="checkbox" name="commercial_spam?"/>
    </div>
    <div class="form-group">
      <label>Political?</label>
      <input type="checkbox" name="political?"/>
    </div>
    <div class="form-group">
      <label>Terrorism?</label>
      <input type="checkbox" name="terrorism?"/>
    </div>
    <div class="form-group">
      <label>Illegal Activities?</label>
      <input type="checkbox" name="illegal_activities?"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
